<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../bootstrap/css/style.css">
    <title>イベントつくった</title>
  </head>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/index.html">調整さんplus</a>
        </div>
      </div>
    </div>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>イベントを作成しました</h1>
        <p>完成！今日も簡単みんなのスケジュール調整イベントがつくられちゃいました。</p>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>イベント名</th>
            <td data-wao-bind="event.name">イベント名</td>
          </tr>
          <tr>
            <th>メモ</th>
            <td data-wao-bind="event.memo">イベント名</td>
          </tr>
          <tr>
            <th>候補日程</th>
            <td data-wao-bind="event.schedule">イベント名</td>
          </tr>
        </tbody>
      </table>
      <a href="../list.html?event.id=" class="btn btn-success btn-lg col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">イベントページを表示</a>
    </div>
    <footer class="bs-docs-footer" role="contentinfo">
      <div class="container">
        <p>headwaters inc.</p>
      </div>
    </footer>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>