<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/style.css">
    <title>出欠確認</title>
  </head>
  <style>
  .btn-default.active{
   background-color:#5cb85c;
   border-color:#5cb85c;
  }
  </style>
  <body role="document">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html">調整さんplus</a>
        </div>
      </div>
    </div>
    <div class="container" role="main">
        <label style="font-size:120%;" data-wao-bind="event.name">111</label>
        <label style="font-size:120%;">の出欠確認</label>
        <hr>
        <label>メモ</label>
        <p data-wao-bind="event.memo">忘年会</p>
    </div>
    <div>
      <div class="container" role="main">
        <br>
        <label for="event">日にち候補</label><br>
        <small>※各自の出欠状況を変更するには名前のリンクをクリックしてください。</small>
        <br><br>
      </div>
      <div class="table-responsive container">
        <table class="table table-bordered" style="margin-left: auto;margin-right: auto;">
          <thead>
            <tr style="background: #f5f5f5;">
              <th>日程</th>
              <th data-wao-bind="event.date1">
                11/21(水) 19:00〜
              </th>
              <th data-wao-bind="event.date2">
                11/22(木) 19:00〜
              </th>
              <th data-wao-bind="event.date3">
                11/23(金) 19:00〜
              </th>
              <th>
                コメント
              </th>
            </tr>
            <tr data-wao-iterator="schedule">
              <th style="background: #f5f5f5;" data-wao-bind="schedule.name">
                中村
              </th>
              <td data-wao-bind="schedule.date1">
                ×
              </td>
              <td data-wao-bind="schedule.date2">
                △
              </td>
              <td data-wao-bind="schedule.date3">
                ○
              </td>
              <td data-wao-bind="schedule.comment">
                たくさん飲みます
              </td>
            </tr>
          </thead>
        </table>
        <br><br>
        <button id="bt1" class="btn btn-success btn-lg col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">出欠を入力する</button>
      </div>
      <br><br>
      <!-- 出欠を入力する  -->
      <form role="form" id="scheduleForm" action="../schedule/list.html?event.id=" method="post">
        <input type="hidden" class="form-control" id="eventId" name="schedule.event_id" value="14165577666624453">
        <div id="kosin" class="container" style="width:600px;display:none;">
          <br>
          <label style="font-size:120%;" for="event">出欠を入力する</label>
          <hr class="color:#f9f2f4;">
          <br>
          <label for="event">表示名</label><br>
          <small>個人が特定し得る内容は入力しないでください。</small>
          <input type="text" class="form-control" name="schedule.name">
          <br>
          <label for="event">日にち候補</label><br>
            <div>
              <table class="choice" style="width:600px;">
                <tbody>
                  <tr>
                    <th nowrap="" ap="nowrap" data-wao-bind="event.date1">11/21(水) 19:00〜</th>
                    <td style="width: 250px;" class="btn-group" data-toggle="buttons" role="group" aria-label="...">
                    <label class="btn btn-default active">
                    <input type="radio"  name="options" value="◯">◯</button>
                    </label>
                    <label class="btn btn-default">
                    <input type="radio" name="options" value="△">△</button>
                    </label>
                    <label class="btn btn-default">
                    <input type="radio" name="options" value="×">×</button>
                    </label>
                    </td>
                    <input id="data1" type="hidden" class="form-control" name="schedule.date1" value="○">
                  </tr>
                  <tr>
                    <th nowrap="" ap="nowrap" data-wao-bind="event.date2">11/22(木) 19:00〜</th>
                    <td style="width: 250px;" class="btn-group" data-toggle="buttons" role="group" aria-label="...">
                    <label class="btn btn-default active">
                    <input name="options1" value="◯">◯</button>
                    </label>
                    <label class="btn btn-default">
                    <input type="radio" name="options1" value="△">△</button>
                    </label>
                    <label class="btn btn-default">
                    <input type="radio" name="options1" value="×">×</button>
                    </label>
                    </td>
                    <input id="data2" type="hidden" class="form-control" name="schedule.date2" value="△">
                  </tr>
                  <tr>
                    <th nowrap="" ap="nowrap" data-wao-bind="event.date3">11/23(金) 19:00〜</th>
                    <td style="width: 250px;" class="btn-group" data-toggle="buttons" role="group" aria-label="...">
                    <label class="btn btn-default active">
                    <input type="radio"  name="options2" value="◯">◯</button>
                    </label>
                    <label class="btn btn-default">
                    <input type="radio" name="options2" value="△">△</button>
                    </label>
                    <label class="btn btn-default">
                    <input type="radio" name="options2" value="×">×</button>
                    </label>
                    </td>
                    <input id="data3" type="hidden" class="form-control" name="schedule.date3" value="×">
                  </tr>
                </tbody>
              </table>
            </div>
            <br>
            <label for="event">コメント</label><br>
          <small>個人が特定し得る内容は入力しないでください。</small>
          <input type="text" class="form-control" name="schedule.comment">
          <br><br>
          <button id="kosinbt" class="btn btn-success btn-lg col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">更新する</button>
        </div>
      </form>
      </div>
    <script src="../bootstrap/js/jquery-1.11.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      $('#scheduleForm').attr('action', $('#scheduleForm').attr('action') + '&schedule.event_id=' + getEventId());
      $('#eventId').val(getEventId());
    });

    function getEventId() {
        var url   = location.href;
        parameters    = url.split("?");
        params   = parameters[1].split("&");
        var paramsArray = [];
        for ( i = 0; i < params.length; i++ ) {
            neet = params[i].split("=");
            paramsArray.push(neet[0]);
            paramsArray[neet[0]] = neet[1];
        }
        var eventId = paramsArray["event.id"];
        return eventId;
    }
    </script>

    <script>
     $(function(){
      $('#bt1').click(function(){
        document.getElementById('bt1').style.display = 'none';
        document.getElementById('kosin').style.display='block';
        location.href="#kosin";
      });
        $('#data1').val($("input[name=options]:checked").val());
        $('#data2').val($("input[name=options1]:checked").val());
        $('#data3').val($("input[name=options2]:checked").val());


    });
    </script>
  </body>
</html>
